.background-blobs {
    position: absolute;
    left: -32px;
    top: -176px;
    width: 1441.06px;
    height: 1243.63px;
    pointer-events: none;
    z-index: 0;
    overflow: visible;
}

.blob-svg {
    width: 100%;
    height: 100%;
    display: block;
    opacity: 0.3;
    filter: blur(75px);
}

@media (max-width: 1440px) {
    .background-blobs {
        width: calc(100vw + 129.055px);
    }
}

